# Pandas fillna() Method
* value
* method
    * ffill
    * bfill
* axis
* limit
* inplace

### Import Library

In [1]:
import pandas as pd

### Import Dataset

In [10]:
dataset = pd.read_csv("C:\\Users\\amira\\Data Science\\0. Some  Basic Work\\3. Pandas\\dataset\\Fortune_102.csv")
dataset

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,NaN,"$14,026,934","7,429,377 Dollars",6597557,NaN
4,5,Techdrill,NaN,2009.0,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,NaN,2006.0,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011.0,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%

## fillna Method

### value
It repalce NaN with Value

In [11]:
dataset.fillna(2)         # NaN value replace with 2

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2.0,"$14,026,934","7,429,377 Dollars",6597557,2
4,5,Techdrill,2,2009.0,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,2,2006.0,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,2,2010.0,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011.0,"$14,001,180",2,11901180,18%
9,10,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%

In [13]:
dataset.fillna(3)     # replace with 3

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,3.0,"$14,026,934","7,429,377 Dollars",6597557,3
4,5,Techdrill,3,2009.0,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,3,2006.0,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,3,2010.0,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011.0,"$14,001,180",3,11901180,18%
9,10,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%

In [14]:
# Manually fill Col value use dict
dataset.fillna({"Industry" : "None", "Inception" : 0, "Expenses": 0, "Growth": 0})

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,0.0,"$14,026,934","7,429,377 Dollars",6597557,0
4,5,Techdrill,None,2009.0,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,None,2006.0,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,None,2010.0,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011.0,"$14,001,180",0,11901180,18%
9,10,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%

### method

#### method = 'ffill'
farward fill (replacepreviuos value with farward None value by individual col)

In [15]:
dataset.fillna(method = 'ffill')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2012.0,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,Techdrill,IT Services,2009.0,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,IT Services,2006.0,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,IT Services,2010.0,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011.0,"$14,001,180","3,878,113 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%

#### method = 'bfill'
farward fill (replace farward value with previuos None value by individual col)

In [16]:
dataset.fillna(method = 'bfill')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2009.0,"$14,026,934","7,429,377 Dollars",6597557,8%
4,5,Techdrill,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006.0,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010.0,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011.0,"$14,001,180","5,635,276 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%

### axis

In [19]:
dataset.fillna(method = 'ffill', axis = 0)       # col

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2012.0,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,Techdrill,IT Services,2009.0,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,IT Services,2006.0,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,IT Services,2010.0,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011.0,"$14,001,180","3,878,113 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%

In [20]:
dataset.fillna(method = 'ffill', axis = 1)       # row

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,IT Services,"$14,026,934","7,429,377 Dollars",6597557,6597557
4,5,Techdrill,Techdrill,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Techline,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Cityace,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","$14,001,180",11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

### limit
In  limit we must pass the method or value parameters as well. By using limit parameter we decide how many value we want to fill in col

In [23]:
dataset.fillna(7, limit = 2)    # 2 missing value fill in each col

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,7.0,"$14,026,934","7,429,377 Dollars",6597557,7
4,5,Techdrill,7,2009.0,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,7,2006.0,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011.0,"$14,001,180",7,11901180,18%
9,10,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%

In [25]:
dataset.fillna(7, limit = 3)    # 3 missing value fill in each col

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,7.0,"$14,026,934","7,429,377 Dollars",6597557,7
4,5,Techdrill,7,2009.0,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,7,2006.0,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,7,2010.0,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011.0,"$14,001,180",7,11901180,18%
9,10,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%

In [26]:
dataset.fillna(method = 'ffill', limit = 2)    # with method

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2012.0,"$14,026,934","7,429,377 Dollars",6597557,7%
4,5,Techdrill,IT Services,2009.0,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,IT Services,2006.0,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,NaN,2010.0,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011.0,"$14,001,180","3,878,113 Dollars",11901180,18%
9,10,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%

### inplace
it update the dataset with value not create new one

In [29]:
dataset.fillna(2, inplace = True)         
dataset

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2.0,"$14,026,934","7,429,377 Dollars",6597557,2
4,5,Techdrill,2,2009.0,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,2,2006.0,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,2,2010.0,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011.0,"$14,001,180",2,11901180,18%
9,10,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%